#contact-bar {
    .container {
        padding: 20px 0 15px 0;
    }

    background: #681C1C;

    a {
        color: #fff !important;
    }
    a:hover {
        text-decoration: none;
        color: #000 !important;
        font-weight: bold;
    }
}

.nav-logo {
    width: 450px;
}

.nav-link {
    padding: 0.5rem 0 !important;
    margin-left: 0.5rem;
}

#hero {
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;

    .border-left{
        border-left: 3px #681C1C solid !important;
    }
}

.btn-primary {
    background: #681C1C;
    border: none;
}

.btn-primary:hover {
    background: #501515;
}

.btn-primary:focus {
    background: #ad3030;
    box-shadow: 0 0 0 0.2rem rgb(173 48 48 / 50%);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background: #ad3030;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }
    .gutter-right {
        padding-right: 15vw;
    }
}

@media screen and (max-width: 767px) {
    .nav-logo {
        display: none;
    }
}

@media screen and (min-width: 601px) {

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 575px) {
    #hero {
        .border-left{
            border-left: none !important;
        }
    }
}
